<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/afg3.jpg" alt="" class="afg3">
       <div class="container">
           <h1><span>Afghanistan</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>The country’s rich cultural history, rugged landscape, and the legendary generosity of Afghan people, have long been a draw for adventurers and travellers alike, but for now, still struggling with deep-rooted insurgency, Afghanistan remains firmly off the radar for most. Plagued by terrorism and war, the most recent cycle of bloodshed and instability has left the country with a reputation for violence and little good ever makes our TV screens in the West. For too many, our narrative around countries like Afghanistan has been reduced to a single story.</p>

    <p>As part of my work on a book called Life in the Himalayas — looking at people’s everyday working lives throughout this diverse and magnificent mountain range, from the high plateau of Tibet to the foothills of Myanmar — I spent three weeks documenting the lives of agropastoralists in Afghanistan, and exploring this battered but beautiful country. I set out to focus on rural areas, everyday life and culture, going in search of the real Afghanistan, away from the vestiges of war and terror.</p>
   </div>
   
   <div class="main-image1">
        <img src="app/img/afg4.jpg" alt="" class="afg4">
    </div>

    <div class="text1">
        <h1>Kabul</h1>
        <p>I started off in the bustling markets in the country’s capital, Kabul, a chaotic little jungle of trinket shops, carpet sellers and giant chunks of Lapis filling windows. Occasionally I felt uneasy under the stares of watchful eyes as I poked my way through the dusty streets. Mostly it felt like any other vibrant bazaar in Asia, people going about their busy day.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/afg5.jpg" alt="" class="afg4">
    </div>

    <div class="text1">
        <p>I ate in smoke filled restaurants sitting cross-legged on cushions. Whole sheep carcasses are hung directly above the stove and the cook simply butchers off the bits he needs and throws them into a big black pot, along with fistfuls of fresh herbs and spices. Huge roundels of hot naan breads are piled high on the tables and you pay for what you eat. There is a genuine old-world feeling in Kabul that is rare to find these days.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/afg6.jpg" alt="" class="afg4">
    </div>

    <div class="text1">
        <h1>Panjshir Valley</h1>
        <p>From Kabul I travelled to Istalif, a district famous for its distinctive blue pottery, and then by road to the stunning Panjshir Valley, one of the most celebrated places in Afghanistan, located in the heart of the Hindu Kush mountains. Its name means ‘Valley of the Five Lions,’ which according to local legend refers to five spiritual protectors or ‘wali’ who built a dam here during the early 11th century AD for Sultan Mahmud of Ghazni.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/afg7.jpg" alt="" class="afg4">
    </div>

    <div class="text1">
        <h1>Bamiyan</h1>
        <p>In the heart of the Hazarajat, Bamiyan is surely one of the most beautiful parts of the whole country. It was a popular tourist destination during the 1970s, but a decade later became a symbol of resistance to the Soviets. Today, although the valley is still dominated by the gaping cavities in the cliff face, and the rubble is a constant reminder of the Taliban’s rage and destruction of the two ancient Buddha, there is far more to Bamiyan.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/afg8.jpg" alt="" class="afg4">
    </div>


    <!-- <section class="bgimage2">
      <img src="Images/bgimage.jpg" class="bgimg2">
    </section> -->

  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="../js/index.js"></script>
</body>

</html>