<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/can2.jpg" alt="Peru" class="afg3">
       <div class="container">
           <h1><span>Canada</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>Canada's cities and towns offer travelers a diverse choice of experiences, from chic, cosmopolitan centers to mountain resorts and maritime cities. Determining the best places to visit may depend on your interests and the type of trip you're hoping to create.
    </p>
    <p>In the heart of the country is Toronto, Canada's biggest city and the highlight of Canada's arts and cultural scene. Nearby, Niagara Falls is a must-see attraction for visitors to Canada that never disappoints. In the neighboring French-speaking province of Québec, Montreal is known for fashion, culture, and history.</p>
    <p>In the West, Vancouver and Victoria offer two very different perspectives on West Coast cities, but each has something unique to offer. The mountain towns of Whistler and Banff are places to immerse yourself in beautiful mountain scenery and enjoy a little of the great outdoors.
    </p>
    <p>Eastern Canada has a culture all of its own, with a rich maritime heritage and friendly people. And scattered throughout the country are other popular cities and lesser known gems to explore. For ideas to help plan your Canada itinerary, see our list of the best places to visit in Canada.
    </p>
        
        
   </div>
   
   
   <div class="main-image1">
        <img src="app/img/can3.jpg" alt="Canada" class="afg4">
    </div>

    <div class="text1">
        <h2>Vancouver</h2>
        <p>For beauty, climate, a fun atmosphere, and plenty of things to do, you can't go wrong planning a trip to Vancouver. Set on the shores of the Pacific Ocean and backed by snow-capped mountains, this is an active city, where locals enjoy the outdoors year-round.</p>
        <p>Sunbathers can bask on the beaches in summer, and skiers can hit the nearby ski resorts in winter. At any time of year, you can walk the seawall or stroll through the towering trees in Stanley Park, enjoy fine dining or a casual meal while watching the sunset, or find fabulous shopping, from the markets of Granville Island to the high-end shops in the city center.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/can4.jpg" alt="Machu Picchu" class="afg4">
    </div>

    <div class="text1">
        <h2>Niagara Falls</h2>
        <p>Canada's most famous natural attraction, the majestic Niagara Falls has been drawing sightseers almost since its discovery. The great wall of water pounding over the falls is an amazing sight, and the view and access afforded visitors is astounding. You can literally walk up to the edge of the falls, separated only by a cast iron railing, and see the water as it disappears over the crest.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/can5.jpg" alt="Inca trail" class="afg4">
    </div>

    <div class="text1">
        <h2>Toronto</h2>
        <p>As Canada's largest city, Toronto is the country's cultural hot spot, with ballet, opera, symphony, and Broadway shows. It's also home to the landmark CN Tower. Add extraordinary shopping, fine dining, and fantastic museums, and there is no end to the entertainment.</p>
       <p>In recent years, Toronto's waterfront has experienced ongoing development and now boasts beautiful walking areas, restaurants, and in summer, outdoor concerts and cultural performances.
       Just outside the city center, in either direction from the city, are beautiful beaches, perfect on hot summer days. In winter, a public skating rink springs to life outside city hall, and unique winter events, including the popular Winterlicious, add to the fun. You can find ski resorts near Toronto as well.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/can6.jpg" alt="Toronto" class="afg4">
    </div>

    <div class="text1">
        <h2>Montreal</h2>
        <p>Montreal is a unique city, with a beautiful old historic district dating back to the 1600s and a modern city center with extensive underground shopping. Old Montreal is the main tourist hub, with cobbled streets and fantastic old buildings.</p>
       <p>Montreal is also home to a large number of fashion designers, and high-end boutiques line the historic streets, along with quaint hotels and restaurants. Located in the French-speaking province of Québec, Montreal has its own cultural identity, but English-speaking visitors will have no trouble communicating with anyone in the tourist industry.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/can7.jpg" alt="Toronto" class="afg4">
    </div>


  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>