<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/cook2.jpg" alt="" class="afg3">
       <div class="container">
           <h1><span>Aitutaki, Cook Islands</span></h1>
       </div>
   </div>

   <div class="text1">
    <p></p>

    <p></p>
   </div>
   

    <div class="row d-flex">
        <div class="col-md-6 pt-5 mt-5 ps-5">
          <h2>About Aitutaki</h2>
            <p>A little paradise means Aitutaki, home to approximately 1800 people and the world’s most beautiful lagoon. It's only 220 kilometres or a 50-minute flight from Rarotonga. Secluded and romantic, 15 motus (islets) are sprinkled across this huge turquoise, sunlit lagoon.</p>
            <p>After Rarotonga, Aitutaki is our second most visited island in the Cook Islands. Secluded and romantic, it holds a compelling allure for honeymooners, many of whom choose this haven for the duration of their stay. You can look forward to languid, leisurely days simply reveling in each other’s company and the jaw-dropping surroundings. Work on your suntan lazing under a coconut palm, relax with a massage or explore the island by cycle or motor-scooter.</p>
        </div>
        <div class="col-md-6"><img src="app/img/cook3.jpg" id="fitimg" alt="Fiji"
            class="img-fluid shadow-2-strong mt-3 h-70 pe-3 w-100">
        </div>

        <div class="col-md-6"><img src="app/img/cook4.jpg" alt="Fiji"
             class="img-fluid shadow-2-strong mt-3 mb-5 ps-3 h-70 w-100">
        </div>
        <div class="col-md-6 pt-5 mt-5">
             <h2 ms-5>Getting to ‘heaven’</h2>
              <p>With flights a mere 50 minutes north from Rarotonga, there is simply no excuse not to visit this spectacular island and soak up the beauty of one of world’s most exquisite lagoons. With Air Rarotonga offering an Aitutaki Day Tour experience from Rarotonga including, transfers, airfares, a lagoon cruise, snorkelling and lunch, we would love you to experience this beauty for yourself.</p>
              
        </div>

        <div class="col-md-6 pt-5 mt-5 ps-5">
            <h2>Fun on the Lagoon</h2>
              <p>Fancy kayaking to a fine white sandy beach that you can have all to yourselves? Or hiring your own boat and setting a course for Maina, Honeymoon Island, or One Foot Island – where visitors can get their passport stamped at the world’s smallest post office. Several tour operators cruise daily to these motu (small islands), other sand islets and to favourite snorkelling spots abundant with colourful fish, turtles and coral clusters.</p>
          </div>
          <div class="col-md-6"><img src="app/img/cook5.jpg" id="fitimg" alt="Fiji"
              class="img-fluid shadow-2-strong mt-3 h-70 pe-3 w-100">
          </div>

          <div class="col-md-6"><img src="app/img/cook6.jpg" alt="Fiji"
            class="img-fluid shadow-2-strong mt-3 mb-5 ps-3 h-70 w-100">
       </div>
       <div class="col-md-6 pt-5 mt-5">
            <h2 ms-5>Do as Much or as Little as You Like</h2>
             <p>Check out the kite boarders zooming across acres of sandy shallows on the South East trade winds then get a lesson and have a go yourself. Go fly-fishing for the mighty bonefish, enjoy readily accessible scuba diving as well as fantastic deep sea fishing. Learn the history and culture of the friendly and gentle Aitutaki people on day tours or hire a scooter or bicycle to explore at your own pace.</p>
       </div>
      </div>


    <!-- <section class="bgimage2">
      <img src="Images/bgimage.jpg" class="bgimg2">
    </section> -->

  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="../js/index.js"></script>
</body>

</html>