<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Culture</title>

  <link rel="stylesheet" href="app/css/travelstyle.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>


       </div>
    </div>
   
 
 
  </header>



  <main>


   <h1 class="h1culture">CULTURES</h1>
   <p>Discover the most interesting and fascinating cultures.</p>
   
   <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card h-100">
        <img src="app/img/indie2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Indigenous Peoples</h5>
          <p class="card-text">From the tree-dwelling people of West Papua, to the hardy reindeer herders of Mongolia, and the last of the sea nomads in Thailand.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="app/img/tuareg2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tuareg people</h5>
          <p class="card-text">These nomadic people are the Sahara’s main inhabitants and have been travelling the desert in their camel caravans for over 2000 years.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="app/img/phil1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Phillipines people</h5>
          <p class="card-text">The Filipino people have a distinct Asian background, with a strong Western tradition. The modern Filipino culture developed through influence from Chinease traders, Spanish conquistadors, and American rulers.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="app/img/mats1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Matsés people</h5>
          <p class="card-text">For the 17 Matsés, also known as the Cat People, communities living by the Rio Yavari and Rio Galvez, many changes have been made since contact was first established by Christian missionaries in 1969.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="app/img/hua.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Huaorani people</h5>
            <p class="card-text">Indigenous population living in the Ecuadorian Amazon, near the Peruvian border. The Huaorani maintain a largely traditional lifestyle, at home in a jungle, which provides them with food, medicine and shelter.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="app/img/nabbush1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Namibian bushmen</h5>
            <p class="card-text">The Etosha National Park is home to a group of people who have lived in symbiosis with nature for generations.</p>
          </div>
        </div>
      </div>
  </div>
   
   <div class="fea"></div>
    <section id="about" class="text-center text-white">

      <div class="row d-flex">
        <div class="col-md-6 mt-5">
          
          </div>
          
        </div>
        
      </div>


    </section>


    



    <section class="bgimage">
      <img src="app/img/bgimage.jpg" class="bgimg">
      <div class="wrapper">
        <h1>“Culture is the arts elevated to a set of beliefs.”</h1>
      </div>
    </section>

  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="../js/index.js"></script>
</body>

</html>