<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/est2.jpg" alt="India" class="afg3">
       <div class="container">
           <h1><span>Estonia</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>With surprises around every corner, Tallinn bursts with charm like no other European city. The capital of Estonia is steeped in history, yet has all the modern offerings tourists expect from a destination in the 21st century.
    </p>
    <p>The city is exceptionally photogenic, especially during the midnight sunsets in the summer. And if you want to see the city at its very best, plan your visit during the Estonian Song Festival. It brings together 30,000 of the best singers in Estonia onto one stage every five years to create music that vibrates throughout the city.
    </p>
    <p>Tallinn's Old Town has managed to preserve its medieval heritage throughout centuries of domination by foreign rulers, rightfully earning a UNESCO World Heritage Site designation. You can still strut through the ivy-covered Viru Gate, explore the gothic Town Hall, and walk along the town walls like others have done for hundreds of years.</p>       
   </div>
   
   
   <div class="main-image1">
        <img src="app/img/est3.jpg" alt="Estonia" class="afg4">
    </div>

    <div class="text1">
        <h2>Tallinn's Old Town</h2>
        <p>Tallinn's Old Town encompasses endless treasures for history buffs and culture hounds alike. Known for being one of the world's best-preserved Hanseatic town centers, the vibrant village-like area features cobblestone streets, lively cafés, and architecture from long-ago centuries.</p>
        <p>Start your experience at the Town Hall Square. While you might be tempted to keep your eyes cast up at the colorful buildings, look down until you find the distinctive circular stone marked with a compass. Standing atop it gives you the unique vantage point to see the steeples of five historic churches around Tallinn. Then, make your way inside the church-like Town Hall. Erected in 1404, the oldest town hall in Northern Europe boasts magnificent Gothic arches and precious artworks.</p>
        <p>Then, head across the square to one of Europe's oldest continually running pharmacies, Raeapteek. The establishment celebrates its history with a mini museum focusing on antique medical tools and early healthcare techniques. You can also sample herbal tea blends created from local ingredients in the pharmacy's basement.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/est4.jpg" alt="Tallinn's Old Town" class="afg4">
    </div>

    <div class="text1">
        <h2>Lennusadam Seaplane Harbour</h2>
        <p>With more than 2,300 islands in its territory, Estonia has developed a strong maritime culture, and there's no better place to experience it than at the Lennusadam Seaplane Harbour.</p>
        <p>This fascinating museum invites tourists to step inside Submarine EML Lembit, a 1930s-era vessel that is one of the few remaining submarines of its time. You can also hop aboard the Suur Tõll icebreaker and explore the powerful steamer's captain's cabin, crew rooms, and officers' mess hall. Hundreds of other artifacts displayed throughout the museum continue to tell the story of maritime history in Estonia.
        </p>
        <p>The structure of the museum itself is just as interesting as its contents. Originally built to house seaplanes in Peter the Great's Naval Fortress, the hangar features "the world's first columnless thin-shell concrete domes of such volume." It remained in use until World War II. It's amazing that the cavernous space requires no vertical supports to hold its weight.</p> 
    </div>

    <div class="main-image1">
        <img src="app/img/est5.jpg" alt="Lennusadam Seaplane Harbour" class="afg4">
    </div>

    <div class="text1">
        <h2>Tallinn TV Tower</h2>
        <p>Proudly standing 314 meters in the clouds, the Tallinn TV Tower is a must-visit attraction in Estonia. A visit to the observation deck on the 21st floor is one of the most popular things to do. Tourists can get panoramic views of Tallinn and the Gulf of Finland. You won't want to forget your camera when sightseeing here.</p>
       <p>Craving an adrenaline rush? Check out the Tallinn TV Tower's Walk on the Edge experience. It will strap you into a harness and let you walk along the ledge of the tower's outdoor terrace. You can even dangle your feet over the 175-meter drop. Don't look down!</p>
    </div>

    <div class="main-image1">
        <img src="app/img/est6.jpg" alt="Tallinn TV Tower" class="afg4">
    </div>

    <div class="text1">
        <h2>Toompea Castle</h2>
        <p>Toompea Hill has always been the core of power in Estonia. Various rulers of Estonia have changed the Toompea Castle to their liking over the last 800 years, starting with the initial stone structure built by the German Knights of the Sword in the 13th century and eventually turning into a tickle-me-pink Baroque palace, courtesy of Catherine the Great. It's now home to the Riigikogu (Estonian parliament), which commemorates the country's independence by raising the national flag atop the 14th-century Tall Hermann tower every morning.</p>
       <p>Tourists can take free guided tours of the Toompea Castle in English, Russian, or Estonian on weekdays, with advance reservations. You'll get to explore the inside of the rosy building, hear about its storied past, and learn about the structure of the Riigikolu.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/est7.jpg" alt="Toompea Castle" class="afg4">
    </div>


  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>