<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/mam3.jpg" alt="" class="afg3">
       <div class="container">
           <h1><span>Mamanuca Islands, Fiji</span></h1>
       </div>
   </div>

   <div class="text1">
    <p></p>

    <p></p>
   </div>
   

    <div class="row d-flex">
        <div class="col-md-6 mt-5 ps-5">
          <h2>About Mamanucas</h2>
            <p>Fijian legends talk of a box filled with goodness, prosperity and luck being lost in the depths of Mamanuca Islands. Till date, the box, or ‘Katonimana’ has been spreading its magic all over the group of islands. Maybe that’s why there’s always a little bit of magic hanging in the air here!</p>
            <p>Maybe that’s why the islands of Mamanucas are incredibly pretty. Blessed with glassy blue waters and live coral reefs, travellers can traipse across isles such as Treasure Island, Beachcomber, Namotu, Malolo and Castaway Islands to discover hidden beaches and unbelievable dive spots.</p>
        </div>
        <div class="col-md-6"><img src="app/img/mam2.jpg" id="fitimg" alt="Fiji"
            class="img-fluid shadow-2-strong mt-3 h-70 pe-3 w-100">
        </div>

        <div class="col-md-6"><img src="app/img/mam4.jpg" alt="Fiji"
             class="img-fluid shadow-2-strong mt-3 mb-5 ps-3 h-70 w-100">
        </div>
        <div class="col-md-6 mt-5">
             <h2 ms-5>Things to Do in Mamanuca Islands</h2>
              <p>Go scuba diving with the shoals of colourful fishes or snorkel your way to happiness. For couple and group activities, try kayaking or visit the nearby villages to learn about cultures, traditions and tribal music passed down from generations. And for those with adventure in their veins, the Mamanucas offer a great opportunity for windsurfing, kiteboarding and diving with reef sharks to get that thrill of a lifetime. Come lovers, families, backpackers, party animals, divers, surfers, day trippers… Come one, come all!</p>
        </div>

        <div class="col-md-6 mt-5 ps-5">
            <h2>Hotels and Resorts in Mamanuca Islands</h2>
              <p>Over the years, a number of resorts have developed in this chain of islands, suiting every type and budget of traveller. For families, there are resorts like the Mana Island Resort, Castaway and Plantation Island – which are renowned for thoughtfully luxurious bungalows, rooms and suites, along with plenty of activities to while away weeks. Couples and honeymooners are also spoilt for choice in the Mamanucas with adults-only resorts like the Tropica Island, Lomani, Tokoriki, etc. All resorts provide superb diving, snorkelling, surfing and motorised watersports for adventure lovers.</p>
          </div>
          <div class="col-md-6"><img src="app/img/mam5.jpg" id="fitimg" alt="Fiji"
              class="img-fluid shadow-2-strong mt-3 h-70 pe-3 w-100">
          </div>

          <div class="col-md-6"><img src="app/img/mam6.jpg" alt="Fiji"
            class="img-fluid shadow-2-strong mt-3 mb-5 ps-3 h-70 w-100">
       </div>
       <div class="col-md-6 mt-5">
            <h2 ms-5>Cruises in Mamanuca Islands</h2>
             <p>The Mamanucas have always been a favourite haunt of luxury superyachts, dive-liveaboards, catamarans and tall ships as its islands make for perfect cruising waters. Long, uninhabited beaches, great diving and cool Pacific winds make for an unbeatable combination. Fill out the enquiry form and let our Specialists come up with a roster of available cruise charters perfect for your holiday requirements.</p>
       </div>
      </div>


    <!-- <section class="bgimage2">
      <img src="Images/bgimage.jpg" class="bgimg2">
    </section> -->

  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="../js/index.js"></script>
</body>

</html>