<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>


  <main>

   <div class="main-image1">
       <img src="app/img/fr2.jpg" alt="India" class="afg3">
       <div class="container">
           <h1><span>France</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>From the boulevards of Paris to the fashionable seaside resorts of the Côte d'Azur, France offers some of the most beautiful scenery in the world. Fairy-tale castles, glorious cathedrals, and picture-perfect villages delight romantics. At the same time, the country's contemporary monuments and rapid train transit jolt visitors from the storybook surroundings into the ambience of the 21st century.
    </p>
    <p>Begin with the Eiffel Tower, the modern emblem of France. Then discover famous masterpieces of art at the Louvre Museum. Spend a day pretending to be royalty at the elegant Palace of Versailles. Save time for leisurely gourmet meals - traditional French gastronomy has been inscribed on the UNESCO list of Intangible Cultural Heritage.
    </p>
    <p>Each region has its own distinctive cuisine and culture. The coastal region of Brittany offers the old-world charm of quaint fishing villages and ancient seaports, while the French Alps reveals the region's hearty cuisine of cheese fondue and charcuterie served in cozy chalets near ski slopes. Indulge in it all and savor the country's irresistible charm with our list of the top attractions in France.</p>       
   </div>
   
   
   <div class="main-image1">
        <img src="app/img/fr31.jpg" alt="Chateau" class="afg4">
    </div>

    <div class="text1">
        <h2>Louvre Museum</h2>
        <p>In a stately palace that was once a royal residence, the Louvre ranks among the top European collections of fine arts. Many of Western Civilization's most famous works are found here, including the Mona Lisa by Leonardo DaVinci, the Wedding Feast at Cana by Veronese, and the 1st-century-BC Venus de Milo sculpture.</p>
        <p>The collection owes its wealth to the contributions of various kings who lived in the Louvre. Other pieces were added as a result of France's treaties with the Vatican and the Republic of Venice, and from the spoils of Napoléon I.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/fr3.jpg" alt="Louvre Museum" class="afg4">
    </div>

    <div class="text1">
        <h2>Mont Saint-Michel</h2>
        <p>Rising dramatically from a rocky islet off the Normandy coast, the UNESCO-listed Mont Saint-Michel is one of France's most striking landmarks. This "Pyramid of the Seas" is a mystical sight, perched 80 meters above the bay and surrounded by imposing defensive walls and bastions.</p>
        <p>The main tourist attraction, the Abbaye de Saint-Michel is a marvel of medieval architecture with soaring Gothic spires. Visitors are awed by the serene beauty of the Abbey Church, with its harmonious Romanesque nave and ornate high-vaulted choir.
        </p>
        <p>Since it was built in the 11th century, the Abbey Church has been an important Christian pilgrimage destination, known as "The Heavenly Jerusalem." Modern-day pilgrims are still inspired by Mont Saint-Michel and continue the tradition of crossing the bay by foot as it was done in the Middle Ages.</p> 
    </div>

    <div class="main-image1">
        <img src="app/img/fr4.jpg" alt="Mont Saint-Michel" class="afg4">
    </div>

    <div class="text1">
        <h2>Provence</h2>
        <p>Provence is a gorgeous landscape of olive groves, sun-drenched rolling hills, and deep purple lavender fields, with little villages nestled in the valleys and perched on rocky outcrops. The vibrant scenery has enchanted many famous artists, including Cézanne, Matisse, Chagall, and Picasso.</p>
       <p>The rustic natural beauty and country charm of Provence immerses visitors in a place where the art de vivre is a way of life. Sultry weather encourages leisurely strolls along cobblestone streets and afternoons spent on sunny terraces of outdoor cafés. Provence is also a region known for its delicious cuisine, which is based on olive oil, vegetables, and aromatic herbs.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/fr5.jpg" alt="Provence" class="afg4">
    </div>

    <div class="text1">
        <h2>Alsace Villages</h2>
        <p>Some of the prettiest villages in France are tucked away in the green, rolling hills of Alsace, where the Vosges Mountains border the Rhine River of Germany. These picturesque Alsatian villages feature pastel-painted, half-timbered houses clustered around small parish churches. Cheerful flowering balconies and pedestrian cobblestone streets add to the appeal.</p>
       <p>Many of the villages have won France's "Villages Fleuris" award for their lovely floral decorations, such as Obernai, with its characteristic burghers' houses; the charming little village of Ribeauvillé, where many homes are adorned with potted flowers; the "town of art and history" Guebwiller; and the captivating medieval village of Bergheim.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/fr6.jpg" alt="Alsace Villages" class="afg4">
    </div>


  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>