<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/hall1.jpg" alt="Hallstatt" class="afg3">
       <div class="container">
           <h1><span>10 Top Tourist Attractions in Hallstatt & along the Hallstätter See</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>Situated on the shores of the idyllic Hallstätter Sea, the tiny community of Hallstatt is perhaps the most beautiful example of the many quaint traditional villages waiting to be explored in Upper Austria.
    </p>
    <p>Linked by road to the cities of Salzburg and Graz, Hallstatt's beauty is matched by that of its lake, both of which are included in the Hallstatt-Dachstein/Salzkammergut Alpine UNESCO World Heritage Site.</p>
    <p>The Hallstätter Sea - 8.5 kilometers long and up to two kilometers wide - has long drawn tourists for its excellent fishing and boating, as well as its stunning scenery. Between the town, the lake, and the surrounding mountains, visitors will find plenty of things to do in Hallstatt.</p>
   </div>
   

    <div class="text1">
        <h3><b>1. The Hallstätter See</b></h3>
        <p>The Hallstätter See, a spectacular mountain lake in Austria's Salzkammergut region, lies at the northern foot of the mighty Dachstein mountain range.</p>
        <p>Some eight-and-a-half kilometers long and between one to two kilometers wide, the lake is up to 125 meters deep and is surrounded by steep, wooded slopes that give it a fjord-like character. Of the lovely villages that dot its shoreline, the most popular are Obertraun; Steeg; and Hallstatt, with its old church and market square.</p>
        <p>The region has been deemed so important that it has been designated the UNESCO World Heritage region of Hallstatt Dachstein Salzkammergut. The Hallstätter See isn't just stunningly beautiful, it's also the most significant lake in the Alps in terms of history. And thanks to its many easily accessible beaches and stunning mountain scenery, it has also long been a draw for artists and outdoor enthusiasts, as well as those simply wanting some peace and quiet.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall2.jpg" alt="Hallstatt" class="afg4">
    </div>

    <div class="text1">
        <h3><b>2. Hallstatt's Old Town and Market Square</b></h3>
        <p>The little market village of Hallstatt, one of the most attractive places to visit in the Salzkammergut, is idyllically positioned on the southwest shore of the Hallstätter See.</p>
        <p>Taking its name from the nearby salt mine, the village clusters around its charming Marktplatz, surrounded by traditional houses, their balconies draped in flowers. Shops and terraced cafés line the square, and a highlight is the elegant Holy Trinity statue.</p>
        <p>One of the most famous views of the old village is from the popular Photo Point in the Römisches district, just a short walk away from Marktplatz. In the center of town is the 19th-century Evangelical Church of Hallstatt, its tall, slender spire a lakeside landmark.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall3.jpg" alt="Salzburg" class="afg4">
    </div>

    <div class="text1">
        <h3><b>3.Hallstatt Salt Mine</b></h3>
        <p>Really a number of excellent attractions in one, Hallstatt Salt Mine (Salzwelten Hallstatt) lies high above the town on the 1,030-meter-tall Salzburg (Salt Mountain). The star attraction, however, is the 7,000-year-old salt mine itself.</p>
       <p>It's accessible by cable car or a three-minute journey aboard the funicular railway. Highlights include the story of the preserved corpse found here in 1734, known as the "Man in Salt," along with fascinating displays of ancient (and modern) mining methods. A new attraction here is the Salt Manufacture, which offers tours and a glimpse at how gourmet salt products are made.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall4.jpg" alt=" Hallstatt Salt Mine" class="afg4">
    </div>

    <div class="text1">
        <h3><b>4. Hallstatt Skywalk</b></h3>
        <p>The salt mine is well worth visiting for the wonderful views from the Halstatt Skywalk alone. This breathtaking attraction consists of a viewing platform extending over a sheer drop, with Hallstatt itself some 350 meters directly below.</p>
       <p>Even more spectacular views can be enjoyed from the historic Rudolf's Tower (Rudolfsturm). This old fortification - accessible only by footbridges - was built to defend the mines against invaders, and now serves as a restaurant and observation tower.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall5.jpg" alt="Hallstatt Skywalk" class="afg4">
    </div>

    <div class="text1">
        <h3><b>5. Dachstein Mountains and the Five Fingers</b></h3>
        <p>The Dachstein Mountains, and in particular Dachstein Salzkammergut, are a must-visit during a sightseeing trip to Austria. Included in the UNESCO World Heritage Site designation, it consists of a series of mighty peaks ranging from 2,000 to 3,000 meters in height, the highest being the 2,995-meter Hoher Dachstein.</p>
       <p>Popular in winter for skiing and in summer for hiking, the mountains are famous for their large (yet shrinking) glaciers, including the Grosse-Gosau and the Hallstätter glaciers. A number of cable cars ascend to the upper reaches, most giving access to Alpine hiking trails.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall6.jpg" alt="Dachstein Mountains and the Five Fingers" class="afg4">
    </div>

    <div class="text1">
        <h3><b>6. Dachstein Caves</b></h3>
        <p>The mountains are also famous for the spectacular Dachstein Caves. This huge network of caverns is up to 1,174 meters deep and is among the most impressive in the Eastern Alps. It's an underground world of ice sculptures, gigantic ice curtains, and huge icicles.</p>
       <p>Highlights include the Dachstein Giant Ice Cave (Rieseneishöhle), with its many great caverns and magnificent frozen waterfalls. If you can, try to visit during one of its regular underground music concerts. Equally impressive, the Mammoth Cave (Mammuthöhle) consists of huge pipe-shaped galleries formed by an ancient underground river.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall7.jpg" alt="Dachstein Caves" class="afg4">
    </div>

    <div class="text1">
        <h3><b>7. Halstatt Museum</b></h3>
        <p>Hallstatt is home to the excellent Halstatt Museum (Museum Hallstatt). The museum houses fascinating displays dealing with the rich history of both the village and its surroundings over the past seven millennia, from the earliest days of its salt mines to its UNESCO World Heritage Site status.</p>
       <p>Other exhibits deal with later settlers such as the Celts, while the Studio of Epochs is a hands-on multi-media display of tools and artifacts from the village's history.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall8.jpg" alt="Halstatt Museum" class="afg4">
    </div>

    <div class="text1">
        <h3><b>8. Catholic Parish Church and Ossuary Chapel</b></h3>
        <p>Hallstatt is home to the excellent Halstatt Museum (Museum Hallstatt). The museum houses fascinating displays dealing with the rich history of both the village and its surroundings over the past seven millennia, from the earliest days of its salt mines to its UNESCO World Heritage Site status.</p>
       <p>Other exhibits deal with later settlers such as the Celts, while the Studio of Epochs is a hands-on multi-media display of tools and artifacts from the village's history.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall9.jpg" alt="Catholic Parish Church and Ossuary Chapel" class="afg4">
    </div>

    <div class="text1">
        <h3><b>9. Admont Abbey</b></h3>
        <p>The old resort town of Admont is popular largely due to its Benedictine abbey, founded in 1704 and later rebuilt with the addition of a park and a Neptune fountain.</p>
       <p>A highlight of Admont Abbey (Stift Admont) is the Abbey Church. Dominated by 70-meter-tall twin towers, the church is home to a carved nativity group from 1755, along with a number of exquisite embroidered tapestries.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hall10.jpg" alt="Admont Abbey" class="afg4">
    </div>

    <div class="text1">
        <h3><b>10. Prehistoric Necropolis on the Salzberg</b></h3>
        <p>Hallstatt's other museum, the Prehistoric Necropolis, is also worth a visit. Built over an ancient burial ground, the attraction provides an up-close look at ancient burial places dating back between 5000 BC and 1000 BC.</p>
       <p>All told, more than 4,000 people were known to have been buried here. Buried with them were numerous interesting artifacts, including grave furnishings from the Iron Age.</p>
       <br>
       <br>
       <br>
       <p>Source: https://www.planetware.com</p>

    </div>
    
  </main>


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>