<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/hav1.jpg" alt="Havana" class="afg3">
       <div class="container">
           <h1><span>Fun Things To Do In Havana Cuba</span></h1>
       </div>
   </div>

   <div class="text1">
    <p>The city of Havana is known for its old architecture, classic cars, live music and tasty mojitos. Here are some of the best things to do in Havana that you won’t want to miss!
    </p>
    <p>In recent years, Cuba has seen some major changes as the United States finally eased restrictions on travel. More and more American’s are now visiting Cuba than ever before, and tourism has been on the rise — for good reason!</p>
    <p>For a small city, Havana seems to have an endless list of things to do catering to every kind of traveler. Maybe you’re a cigar aficionado or simply looking for some R&R, Havana has something to offer everyone.</p>
   </div>
   

    <div class="text1">
        <h3><b>1. Visit El Morro Castle</b></h3>
        <p>El Morro Castle, otherwise known as “Castillo del Morro”, is a great starting point once you arrive in Havana. It’s situated on top of a rocky promontory at the entrance of Havana’s bay—it can’t be missed! It’s a massive fort with an equally impressive history.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hav2.jpg" alt="El Morro Castle" class="afg4">
    </div>

    <div class="text1">
        <h3><b>2. Explore Old Havana On Foot</b></h3>
        <p>Ulun Danu Temple lies at the edge of Baratan Lake in Bedugul in Bali.</p>
        <p>This pretty building is dedicated to the goddess of the lake and is one of the quietest and most serene places on the island.</p>
        <p>Make sure to check out all the different shrines, each one dedicated to a different god, and look out for the ornate architectural touches such as the intricate carved gates.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hav3.jpg" alt=" Old town Havana" class="afg4">
    </div>

    <div class="text1">
        <h3><b>3. Tropicana Nightclub Show</b></h3>
        <p>Known as one of the hottest cabaret shows in the world, the Tropicana Nightclub Show is a world-famous spectacle set in a lush, tropical open-air venue that bursts with colorful lights, glitter, and glam. Salsa-charged and sensual, it’s a must-do activity during any trip to Havana Cuba.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hav4.jpg" alt="Tropicana Nightclub Show" class="afg4">
    </div>

    <div class="text1">
        <h3><b>4. Havana Classic Car Tours</b></h3>
        <p>When you think of things to do in Havana, chances are rolling down the street in a colorful, vintage convertible with the top down is a top contender. There are plenty of options for vintage car tours in Havana, and most operate like a regular taxi.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hav5.jpg" alt="Car Tours" class="afg4">
    </div>

    <div class="text1">
        <h3><b>5.Stroll Along “El Malecon” Boardwalk</b></h3>
        <p>If you want an intimate glimpse at life in Havana, walk El Malecon. Translated as “the pier”, El Malecon is a restored seafront walkway situated along the city’s north coastline and provides lovely views of Havana’s iconic architecture and coast.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/hav6.jpg" alt="“El Malecon” Boardwalk" class="afg4">
    </div>



    <div class="text1">
        <h3><b>6. Visit The Havana Capitol Building</b></h3>
        <p>El Capitolio, or Cuba’s Capitol Building, was built in 1929 and based off of the US Capitol in Washington DC. It has been closed to the public for the last 8 years for a big restoration project — but just recently re-opened.</p>

       <div class="main-image1">
        <img src="app/img/hav7.jpg" alt="Capitol Building"  class="afg4">
      </div>

       <br>
       <br>
       <br>
       <p>Source: www.expertvagabond.com</p>
    </div>



  </main>


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>