<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>


  <link rel="stylesheet" href="app/css/afgsyle.css">
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">



</head>

<body>



  <header>
    <!-- Navbar -->
       <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
       <div class="container-fluid">
     <!-- Navbar brand -->
       <a class="navbar-brand me-3" href="home"><i class="fas fa-plane me-3"></i>Travel with me</a>
   
 
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"         data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"   aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
    <!-- Collapsible wrapper -->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
       <ul class="navbar-nav">
 
         <!-- Link -->
         <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
         </li>
 
          <!-- Dropdown -->
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Explore
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <li><a class="dropdown-item" href="exploretheworld" target="_blank">Places</a></li>
             <li><a class="dropdown-item" href="tropicaldestinations" target="_blank">Tropical destinations</a></li>
             <li><a class="dropdown-item" href="culture" target="_blank">Cultures</a></li>
           </ul>
         </li>
 
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="about" target="_blank">About</a></li>
         </li>
         <li class="nav-item">
         <li class="nav-item"><a class="nav-link" href="contact" target="_blank">Contact</a></li>
         </li>
 
       </ul>

      
       </div>
    </div>
   
 
 
   </header>



  <main>

   <div class="main-image1">
       <img src="app/img/pop1.jpg" alt="map" class="afg3">
       <div class="container">
           <h1><span>10 Best Places To Visit In The World</span></h1>
       </div>
   </div>
   
   <div class="main-image1 mt-5">
        <img src="app/img/pop2.jpg" alt="Bali" class="afg4">
    </div>

    <div class="text1">
        <p>What's on your travel bucket list? If you're like most people, the more you travel, the more places you add to your bucket list. So when the editors of the website Big 7 Travel announced the list of the world's top 50 bucket list destinations, we stopped in our tracks and started checking off the boxes.</p>
        <p>The website surveyed its 1.5 million-strong social audience in order to determine the best bucket list places around the world. According to Sarah Clayton-Lea, head of content with Big 7 Travel, this is the first time the site has assembled this list. "Bucket list travel was a trend that popped up again and again in previous surveys when asking our readers what sort of travel content they most enjoyed consuming," says Clayton-Lea. "So, our curiosity got the better of us and we wanted to know which destinations people are dreaming of for 2019/2020."</p>
        <p>The results of the world’s top 50 bucket list destinations include some of the most beautiful places on earth. "White sandy beaches are still a must-visit for many, with vibrant cities also making an appearance on a lot of people’s bucket lists," says Clayton-Lea. Countries with naturally beautiful scenery and world-famous landmarks came out on top: 22% of the destinations on the list have white sandy beaches, while 52% are iconic cities.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/pop3.jpg" alt="Capetown" class="afg4">
    </div>

    <div class="text1">
        <p>In the study, Big 7 Travel found that people were also more likely to add a destination to their list if they had seen it on social media, and 33% of people research vacation destinations on their Instagram feed. "With over one-third of our readers saying they look to Instagram for travel inspiration, it makes sense that cities with colorful neighborhoods (such as Cape Town’s Bo Kaap) made the cut," says Clayton-Lea.</p>
        <p>This fascinating museum invites tourists to step inside Submarine EML Lembit, a 1930s-era vessel that is one of the few remaining submarines of its time. You can also hop aboard the Suur Tõll icebreaker and explore the powerful steamer's captain's cabin, crew rooms, and officers' mess hall. Hundreds of other artifacts displayed throughout the museum continue to tell the story of maritime history in Estonia.
        </p>
        <p>Bali topped the list of the 50 most popular bucket list destination on earth, but there were also some unexpected picks. "The top 10 list has a lot of the expected dream destinations, but there are a few surprises on the list: Paro Valley in Bhutan, for example, or Virunga National Park in the Congo," says Clayton-Lea. "I think this shows a great appetite for a need to get off the grid and can only assume that social media (and Netflix, in the case of Virunga!) is responsible for spreading the word of these amazing places."</p> 
        <p>An interesting factoid uncovered in the study: Most people have an average bucket list of just 11 places, with the hope of visiting seven of those locations during their lifetime. No matter how many places are on your bucket list, this ranking will get you dreaming of places near and far. Read on for the top 50 bucket list destinations in the world and what Big 7 Travel had to say about each one.</p>
    </div>

    <div class="main-image1">
        <img src="app/img/pop4.jpg" alt="Bali swing" class="afg4">
    </div>

    <div class="text1">
        <h3><b>1.Bali, Indonesia</b></h3>
        <p>"You’ll find beaches, volcanoes, Komodo dragons and jungles sheltering elephants, orangutans and tigers. Basically, it’s paradise. It’s likely you’ve seen an image of Bali on social media at least once in the past seven days, as it’s such a popular bucket list destination for 2019."</p>
        <h3><b>2.New Orleans</b></h3>
       <p>"The lively city known for its street music, festive vibe and a melting pot of French, African and American cultures is well worth the trip. NOLA is a city packed with adventures at every turn and should be on everyone’s must-visit list."</p>
       <h3><b>3.Kerry, Ireland</b></h3>
       <p>" All the way west in Ireland is one of the country’s most scenic counties. Kerry’s mountains, lakes and coasts are postcard-perfect, and that’s before you add in Killarney National Park. The unique small towns such as Dingle add to its charm."</p>
    </div>

    <div class="text1">
        <h3><b>4. Marrakesh, Morocco</b></h3>
        <p>Toompea Hill has always been the core of power in Estonia. Various rulers of Estonia have changed the Toompea Castle to their liking over the last 800 years, starting with the initial stone structure built by the German Knights of the Sword in the 13th century and eventually turning into a tickle-me-pink Baroque palace, courtesy of Catherine the Great. It's now home to the Riigikogu (Estonian parliament), which commemorates the country's independence by raising the national flag atop the 14th-century Tall Hermann tower every morning.</p>
       <p>Tourists can take free guided tours of the Toompea Castle in English, Russian, or Estonian on weekdays, with advance reservations. You'll get to explore the inside of the rosy building, hear about its storied past, and learn about the structure of the Riigikolu.</p>
    </div>

    <div class="main-image1 mb-5">
        <img src="app/img/pop5.jpg" alt="Marrakesh, Morocco" class="afg4">
    </div>

    <div class="text1">
        <h3><b>5. Sydney:</b></h3>
        <p>"Sydney is known around the world as one of the greatest and most iconic cities on the planet. Amazing things to do aren’t hard to find; the city has gorgeous beaches, great cafes and world-class entertainment on offer wherever you look."</p>
        <h3><b>6. The Maldives</b></h3>
        <p>"This tropical nation in the Indian Ocean is made up of more than 1,000 coral islands. It’s home to some of the world’s most luxurious hotel resorts, with white sandy beaches, underwater villas and restaurants and bright blue waters."</p>
        <h3><b>7. Paris, France</b></h3>
        <p>"One of the most iconic cities in the world, Paris tops many people’s bucket lists. You’ll see so many famous landmarks here: the Eiffel Tower, Arc de Triomphe, Notre Dame cathedral—the list is never-ending."</p>
        <h3><b>8. Cape Town, South Africa</b></h3>
        <p>"Cape Town is a dream location to visit: endless natural beauty and clifftop views, pastel pink neighborhoods and turquoise waters."</p>
        <h3><b>9. Dubai, U.A.E.</b></h3>
        <p>"The high-flying city of the U.A.E, Dubai is one of the most glamorous destinations you’ll ever visit, and is particularly popular with Big 7 Travel readers."</p>
    </div>

    <div class="main-image1">
        <img src="app/img/pop6.jpg" alt="Dubai" class="afg4">
    </div>

    <div class="text1">
        <h3><b>10. Bora Bora, French Polynesia:</b></h3>
        <p>"Bora Bora is Tahiti's most famous island. How do overwater bungalows and underwater adventures sound to you? To us, it’s everything we could want from a bucket list destination."</p>
    </div>

    <div class="main-image1 mb-5">
        <img src="app/img/pop7.jpg" alt="Bora Bora" class="afg4">
    </div>


  </main>

<!-- Modal -->


  <footer>
    <ul class="sci">
      <li><a href="https://www.facebook.com/" target="_blank"><img src="app/img/facebook.png" alt="Facebook"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="app/img/instagram.png" alt="Instagram"></a></li>
      <li><a href="https://twitter.com/" target="_blank"><img src="app/img/twitter.png" alt="Twitter"></a></li>
    </ul>
    <h4 class="copyrightText">Copyright ©2021 <a href="">Travel with me</a>. All rights reserved.</section</h4>

  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <script src="app/js/index.js"></script>
</body>

</html>